main{
  width:80vw;
  margin:0 auto;
}
main *{
  display: block;
}
label,input,textarea{
  margin: 20px;
  padding: 5px;
}
label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    resize: none;
    outline: none;
}

